//Colors

$text-dark: #3A3335;

$primary: #D81E5B;
$highlight: #EB5E55;

$background: #C6D8D3;

$light: #a3825f;
$light-shadow: #524130;
$dark: #5c3170;
$dark-shadow: #3b1f47;

//Sizes
$piece-t-size: 50px;
$piece-s-size: 35px;
$slot-size: $piece-t-size + 15px;